$logo-text: #262626;
$topmenu-text: #626262;
$dark-red: #ae3b44;
$main-text: #3c3c3c;
$h1-color: #3d3d3d;
$quote-article: #909293;
$month-date-color: #909293;
$tooltip-bg: #909293;
$tooltip-text: #9ca0a2;
$banner-text-black: #222222;
$banner-text-white: #edf2f5;

$sub-accordion-menu: #f4f7f8;
$subsub-accordion-menu: #eaeaea;
$accordion-border: #f4f7f8;

$border-color: #d6d6d6;

$footer-color: #393939;
