.facebook,
.linkedin,
.rss,
.twitter,
.facebook:hover,
.linkedin:hover,
.rss:hover,
.twitter:hover {
  display: inline-block;
  background: url("../img/social/social-sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.facebook {
  background-position: -3px -0px;
  width: 24px;
  height: 24px; }

.linkedin {
  background-position: -3px -27px;
  width: 24px;
  height: 24px; }

.rss {
  background-position: -3px -54px;
  width: 24px;
  height: 24px; }

.twitter {
  background-position: -3px -81px;
  width: 24px;
  height: 24px; }

.facebook:hover {
  background-position: -30px -0px;
  width: 24px;
  height: 24px; }

.linkedin:hover {
  background-position: -30px -27px;
  width: 24px;
  height: 24px; }

.rss:hover {
  background-position: -30px -54px;
  width: 24px;
  height: 24px; }

.twitter:hover {
  background-position: -30px -81px;
  width: 24px;
  height: 24px; }

.pag-left-arrow, .pag-right-arrow, .accord-arrow-down, .next, .prev,
.accord-arrow-right {
  display: inline-block;
  background: url("../img/social/arrows-sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.pag-left-arrow {
  background-position: -1px -0px;
  width: 14px;
  height: 14px; }

.pag-right-arrow {
  background-position: -1px -15px;
  width: 14px;
  height: 14px; }

.accord-arrow-down {
  background-position: -1px -30px;
  width: 7px;
  height: 4px; }

.next {
  background-position: -1px -35px;
  width: 7px;
  height: 10px; }

.prev {
  background-position: -1px -46px;
  width: 6px;
  height: 10px; }

.accord-arrow-right {
  background-position: -9px -30px;
  width: 4px;
  height: 7px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: url("../img/world-map.png") no-repeat top center;
  font-size: 12px;
  color: #3c3c3c; }

h2 {
  font-size: 24px;
  text-transform: capitalize;
  color: #edf2f5;
  font-weight: 400;
  letter-spacing: -0.16px; }

h3 {
  line-height: 41px;
  margin: 0;
  font-weight: 400;
  font-size: 18px; }

img {
  vertical-align: top; }

.page-wrapper {
  background: rgba(254, 254, 254, 0.9); }

.container {
  max-width: 979px;
  margin: 0 auto; }

.header {
  min-height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  color: #262626;
  font-size: 37px;
  margin-top: 37px;
  margin-left: 25px;
  position: relative; }
  .header__logo a {
    text-decoration: none;
    color: #3c3c3c; }

.header__logo__img {
  position: absolute;
  top: -1px;
  left: -23px; }

.header__topmenu {
  margin: 0;
  margin-top: 53px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 33px; }
  .header__topmenu li {
    list-style: none;
    padding-left: 22px;
    position: relative; }
  .header__topmenu a {
    color: #626262;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
    text-transform: capitalize; }
    .header__topmenu a:hover {
      color: #ae3b44; }

.topmenu__dropdown {
  top: 40%;
  left: 10%;
  z-index: 2;
  display: none;
  color: #fff;
  margin: 0;
  padding: 0; }

.dropdown-submenu {
  max-width: 250px;
  position: absolute;
  min-width: 100px;
  left: 110%;
  top: 0;
  display: none; }

.dropdown li {
  position: relative;
  padding: 5px; }
  .dropdown li:hover {
    background: #1e1e1e; }

.dropdown a {
  height: 100%; }

.dropdown:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -3px;
  border-style: solid;
  border-width: 0 5px 3px 5px;
  border-color: transparent transparent #212121 transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.active-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -3px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-style: solid;
  border-width: 4px 0 4px 3px;
  border-color: transparent transparent transparent #212121; }

.dropdown,
.dropdown-submenu {
  position: absolute;
  background: #212121;
  padding: 0; }
  .dropdown li,
  .dropdown-submenu li {
    display: block;
    padding: 10px;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 250px; }
  .dropdown a,
  .dropdown-submenu a {
    color: #fff; }

.banner {
  min-height: 128px;
  border-top: 7px solid #262626;
  background: #ae3b44;
  width: 100%;
  position: relative; }

.slider-arrows {
  position: absolute;
  bottom: 10px; }

#prev-slide {
  right: 55px; }

#next-slide {
  right: 25px; }

.banner-item, .slick-initialized .slick-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .banner-item h2, .slick-initialized .slick-slide h2 {
    width: 160px;
    margin-right: 31px; }

.banner__text {
  color: #222222;
  width: 440px;
  line-height: 19px;
  padding-right: 27px; }

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sidebar {
  min-width: 245px;
  border-right: 1px solid #d6d6d6;
  padding-top: 14px; }

.sidebar__header {
  min-height: 41px;
  margin-top: 28px;
  text-indent: 14px; }

.sidebar__menu {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  min-height: 37px;
  line-height: 37px; }
  .sidebar__menu li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #d6d6d6;
    list-style: none;
    min-height: 37px;
    line-height: 37px; }
  .sidebar__menu a {
    padding-left: 10px;
    text-decoration: none;
    color: #3c3c3c; }
    .sidebar__menu a:hover {
      text-decoration: underline;
      color: #ae3b44; }

.sidebar__menu__submenu {
  padding: 0;
  background: #f4f7f8;
  display: none; }
  .sidebar__menu__submenu a {
    padding-left: 38px; }

.accordion-menu a {
  position: relative; }

.accordion-menu a > i {
  float: right;
  margin-top: 15px;
  margin-right: 14px; }

.sidebar__menu__subsubmenu {
  background: #eaeaea;
  padding: 0;
  margin: 0;
  display: none; }
  .sidebar__menu__subsubmenu a {
    padding: 0; }
  .sidebar__menu__subsubmenu a > i {
    margin-left: 38px;
    float: left; }

.sidebar__menu__ancor {
  padding: 0;
  display: none; }
  .sidebar__menu__ancor a {
    padding-left: 38px; }

.content {
  padding-top: 15px;
  padding-left: 35px; }
  .content h4 {
    color: #ae3b44;
    font-size: 15px;
    font-weight: 400; }

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6; }

h1 {
  font-size: 24px;
  font-weight: 400;
  width: 65%; }

.dateblock, .sidebar__header {
  background-image: repeating-linear-gradient(-45deg, #e9eaeb 0px, #e9eaeb 1px, transparent 0px, transparent 10px); }

.dateblock {
  margin-top: 8px;
  width: 79px;
  height: 79px;
  border: 1px solid #d6d6d6;
  text-align: center;
  margin-top: 15px;
  padding-top: 18px;
  font-size: 10px; }

.dateblock__date {
  font-size: 17px;
  margin-bottom: 5px; }

.content__qoute {
  padding-top: 8px;
  padding-bottom: 13px;
  font-style: italic;
  color: #909293;
  line-height: 21px;
  font-size: 15px;
  font-weight: 400;
  text-align: justify; }

.content__article-box {
  padding-top: 4px;
  padding-bottom: 13px;
  line-height: 19px;
  border-top: 1px solid #d6d6d6; }
  .content__article-box p {
    margin-bottom: 12px; }

.content__text-box__imgbig {
  padding-top: 27px;
  padding-bottom: 8px;
  color: #9f9f9f;
  text-align: center; }

.left-img {
  margin: 23px 33px 19px 0; }
  .left-img a {
    text-decoration: none; }

.left-floated {
  float: left; }

.content__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  height: 67px; }

.content__pagination__arrow {
  font-size: 15px;
  color: #ae3b44;
  text-decoration: none; }

.content__pagination__arrow-left {
  padding-left: 20px;
  background: url("../img/pag-left-arrow.png") no-repeat left center; }

.content__pagination__arrow-right {
  padding-right: 20px;
  background: url("../img/pag-right-arrow.png") no-repeat right center; }

.credibility-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 95px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer, .footer a {
  color: #999999; }

.footer {
  background: #f8f8f8;
  min-height: 183px; }
  .footer a {
    color: #c3c3c3;
    text-decoration: none; }
    .footer a:hover {
      color: #393939;
      text-decoration: underline; }
  .footer ul {
    margin: 0;
    padding: 0; }
  .footer li {
    list-style: none; }
  .footer .footer__inner__item__social-links {
    margin-bottom: 24px; }
    .footer .footer__inner__item__social-links li {
      display: inline-block; }

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-item-nohead {
  padding-top: 67px; }

h5 {
  margin-top: 24px;
  font-size: 15px; }

.display-block {
  display: block; }
